* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #474747;
  background-image: url("/css/clouds.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.hidden {
  display: none;
}

#hourly {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  background-color: #474747;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

footer {
  color: white;
  text-align: center;
  padding: 0.5rem;
  background-color: #474747;
}

a {
  color: white;
  text-decoration: none;
}
