* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("/css/clouds.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
