* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(142, 216, 254);
  background: linear-gradient(
    rgba(142, 216, 254, 1) 0%,
    rgba(190, 232, 253, 1) 35%,
    rgba(233, 245, 252, 1) 100%
  );

  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

/* Gradiente noche:

background: rgb(52, 79, 147);
  background: linear-gradient(
    180deg,
    rgba(52, 79, 147, 1) 0%,
    rgba(99, 123, 182, 1) 35%,
    rgba(129, 150, 205, 1) 100%
  ); */
